<link href="~/colorlib-wizard-28/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/colorlib-wizard-28/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="~/colorlib-wizard-28/css/main.css" rel="stylesheet" media="all">
<link href="~/css/select2.min.css" rel="stylesheet" media="all">
<script src="~/colorlib-wizard-28/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="~/colorlib-wizard-28/js/global.js"></script>
<script src="~/js/select2.full.min.js"></script>


<!-- Vendor JS-->
<script src="~/colorlib-wizard-28/vendor/jquery-validate/jquery.validate.min.js"></script>

<style>
    .error {
        color: red;
    }

    label {
        font-weight: bold
    }

    #containerForm {
        margin-right: 0px
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-val {
        background-color: #36c240;
    }
</style>
<!-- Navigation -->
@Html.Partial("_Navigation")

<div class="page-wrapper" style="border-color: #28BAA2;
        padding-bottom: 100px;">
    <div class="wrapper wrapper">
        <div class="card card-1">
            <div class="card-body">
                <h1 class="center">Cadastro de produto</h1>
                <br />
                <form class="wizard-container" method="POST" action="#" id="js-wizard-form">
                    <div class="progress" id="js-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            <span class="progress-val">40%</span>
                        </div>
                    </div>

                    <ul class="nav nav-tab">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">1</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">1</a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab">1</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">

                            <h3 class="font-bold p-h-xs m-b-md m-t-lg" style="border-bottom:1px #d0d0d0 solid;">Informações gerais</h3>
                            <br />

                            <div class="form-group">
                                <label for="title">Titulo</label>
                                <input type="text" id="title" name="title" class="form-control" data-bind="value: title" />
                                <span data-bind='visible: title.hasError, text: title.validationMessage'> </span>
                            </div>

                            <br />

                            <div class="form-group">
                                <label for="brand">Marca</label>
                                <input type="text" id="brand" name="brand" class="form-control" data-bind="value: brand" />
                                <span data-bind='visible: brand.hasError, text: brand.validationMessage'> </span>
                            </div>

                            <br />

                            <div class="form-group">
                                <label for="category">Categoria </label>
                                <select id="category" name="category" data-bind="options: category, optionsCaption: 'Choose...'" style="width: 50%"></select>
                            </div>

                            <br />

                            <div class="row align-content-between">
                                <div class="col-md-2 p-xss">
                                    <label for="priceDefault">Preço De</label>
                                    <input type="number" id="priceDefault" name="priceDefault" class="form-control" data-bind="value:priceDefault" />
                                </div>

                                <div class="col-md-2 p-xss">
                                    <label for="priceOffer">Preço Por</label>
                                    <input type="number" id="priceOffer" name="priceOffer" class="form-control" data-bind="value:priceOffer" />
                                </div>

                                <div class="col-md-2 p-xss">
                                    <label for="stock">Estoque</label>
                                    <input type="number" id="stock" name="stock" class="form-control" data-bind="value:stock" />
                                </div>
                            </div>

                            <br />

                            <div class="form-group">
                                <label for="description">Descricao</label>
                                <textarea type="text" id="description" name="description" class="form-control" data-bind="value:description"></textarea>
                            </div>

                            <div class="btn-next-con">
                                <a class="btn-next" href="#">Próximo</a>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab2">
                            <h3 class="font-bold p-h-xs m-b-md m-t-lg" style="border-bottom:1px #d0d0d0 solid;">Informações fiscais</h3>
                            <br />

                            <div class="form-group">
                                <label for="ean">EAN</label>
                                <input type="number" id="ean" name="ean" class="form-control" data-bind="value:ean" />
                            </div>

                            <div class="form-group">
                                <label for="ncm">NCM</label>
                                <input type="number" id="ncm" name="ncm" class="form-control" data-bind="value:ncm" />
                            </div>

                            <div class="form-group">
                                <label for="warranty">Garantia</label>
                                <input type="number" id="warranty" name="warranty" class="form-control" data-bind="value:warranty" />
                            </div>

                            <div class="btn-next-con">
                                <a class="btn-back" href="#">Voltar</a>
                                <a class="btn-next" href="#">Próximo</a>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab3">
                            <h3 class="font-bold p-h-xs m-b-md m-t-lg" style="border-bottom:1px #d0d0d0 solid;">Medidas</h3>
                            <br />

                            <div class="form-group">
                                <label for="height">Altura</label>
                                <input type="number" id="height" name="height" class="form-control" data-bind="value:height" />
                            </div>

                            <div class="form-group">
                                <label for="lenght">Comprimento</label>
                                <input type="number" id="lenght" name="lenght" class="form-control" data-bind="value:lenght" />
                            </div>

                            <div class="form-group">
                                <label for="width">Largura</label>
                                <input type="number" id="width" name="width" class="form-control" data-bind="value:width" />
                            </div>

                            <div class="form-group">
                                <label for="weight">Peso</label>
                                <input type="number" id="weight" name="weight" class="form-control" data-bind="value:weight" />
                            </div>

                            <div class="btn-next-con">
                                <a class="btn-back" href="#">Voltar</a>
                                <a class="btn-last" href="#">Cadastrar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#category').select2({
        theme: "classic",
        placeholder: 'Selecione uma categoria...',
        allowClear: false
    });

    //Controla Progress Bar
    $("#js-wizard-form").bootstrapWizard({
        'tabClass': 'nav-tab',
        'nextSelector': '.btn-next',
        'previousSelector': '.btn-back',
        'lastSelector': '.btn-last',
        'onNext': function (tab, navigation, index) {
            var progressBar = $('#js-progress').find('.progress-bar');
            var progressVal = $('#js-progress').find('.progress-val');
            var current = index + 1;
            if (current > 1) {
                var val = parseInt(progressBar.text());
                val += 30;
                progressBar.css('width', val + '%');
                progressVal.text(val + '%');
            }

        },
        'onPrevious': function (tab, navigation, index) {
            var progressBar = $('#js-progress').find('.progress-bar');
            var progressVal = $('#js-progress').find('.progress-val');
            var current = index - 1;
            if (current !== 1) {
                var val = parseInt(progressBar.text());
                val -= 30;
                progressBar.css('width', val + '%');
                progressVal.text(val + '%');
            }
        }
    });

    $(document).ready(function () {
        $("#js-wizard-form").validate({
            // Specify validation rules
            rules: {
                title: { required: true, minlength: 3 },
                brand: {
                    required: true
                },
                category: {
                    required: true
                },
                stock: {
                    required: true,
                },
                priceDefault: {
                    required: true,
                },
                priceOffer: {
                    required: true,
                },
                description: {
                    required: true,
                },
                ean: {
                    required: true,
                },
                ncm: {
                    required: true,
                },
                warranty: {
                    required: true,
                }
            },
            messages: {
                title: {
                    required: "Por favor informe o titulo",
                    minlength: "Por favor informe pelo menos 3 caracteres"
                },
                brand: {
                    required: "Por favor informe a marca",
                },
                category: {
                    required: "Por favor informe a categoria",
                },
                stock: {
                    required: "Por favor informe a quatidade disponivel",
                },
                priceDefault: {
                    required: "Por favor informe o preço De",
                },
                priceOffer: {
                    required: "Por favor informe o preço Por",
                },
                description: {
                    required: "Por favor informe a descrição",
                },
                ean: {
                    required: "Por favor informe o EAN",
                },
                ncm: {
                    required: "Por favor informe o NCM",
                },
                warranty: {
                    required: "Por favor informe a tempo de garantia em messes",
                }
            },
        });
    });

    function ViewModel() {
        try {

            var self = this;

            self.title = ko.observable("");
            self.brand = ko.observable("");
            self.category = ko.observableArray([]);
            self.stock = ko.observable([]);
            self.priceDefault = ko.observable([]);
            self.priceOffer = ko.observable([]);
            self.description = ko.observable("");

            self.ean = ko.observable("");
            self.ncm = ko.observable("");
            self.warranty = ko.observable("");

            self.height = ko.observable("");
            self.lenght = ko.observable("");
            self.width = ko.observable("");
            self.weight = ko.observable("");

            $.ajax({
                type: "GET",
                url: '/Category/ListCategorys',
                success: function (response) {
                    console.log(response);
                    $.map(response, function (item) {
                        self.category.push(item.name);
                    });
                },
                error: function (response) {
                    console.log('Erro' + response);
                }
            });

            self.createProduct = () => {
                var data = {
                    title: self.title(),
                    brand: self.brand(),
                    category: self.category(),
                    stock: self.stock(),
                    priceDefault: self.priceDefault(),
                    priceOffer: self.priceOffer(),
                    description: self.description(),
                    ean: self.ean(),
                    ncm: self.ncm(),
                    warranty: self.warranty(),
                    height: self.height(),
                    lenght: self.lenght(),
                    width: self.width(),
                    weight: self.weight(),
                };

                console.log(data);

                $.ajax({
                    type: "POST",
                    url: '/Products/CreatedProduct',
                    data: {
                        data: data
                    },
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log('Erro' + response);
                    }
                });
            }

        } catch (e) {
            console.log(e);
        }
    }

    var vm = new ViewModel();

    // ativa knockout.js
    ko.applyBindings(vm);

</script>
