<style>

    /* BASIC */
    html {
        background-color: #f2fff6;
    }

    /* STRUCTURE */
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
    }

    #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }

    /* ANIMATIONS */

    /* Simple CSS3 Fade-in-down Animation */
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @@-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @@keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    /* Simple CSS3 Fade-in Animation */
    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@-moz-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fadeIn {
        opacity: 0;
        -webkit-animation: fadeIn ease-in 1;
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
    }

        .fadeIn.first {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .fadeIn.second {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        .fadeIn.third {
            -webkit-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            animation-delay: 0.8s;
        }

        .fadeIn.fourth {
            -webkit-animation-delay: 1s;
            -moz-animation-delay: 1s;
            animation-delay: 1s;
        }

    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: #56baed;
        content: "";
        transition: width 0.2s;
    }

    .underlineHover:hover {
        color: #0d0d0d;
    }

        .underlineHover:hover:after {
            width: 100%;
        }


    /* OTHERS */

    *:focus {
        outline: none;
    }

    #icon {
        width: 60%;
        width: 40%;
        padding: 10px;
    }

    ::-webkit-input-placeholder {
        text-align: center;
    }

    .center {
        display: inline;
    }
</style>

<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://bucket-tarsresources.s3-sa-east-1.amazonaws.com/images/sobre-a-tars-1585858150.jpg" id="icon" alt="Icon" />
        </div>

        <!-- Login Form -->
        <form>

            <br />
            <div class="form-group">
                <input style="width: 50%" type="text" id="cpf" name="cpf" class="form-control center" placeholder="CPF" data-bind="value: cpf" onkeydown="javascript: fMasc( this, mCPF );">
            </div>

            <div class="form-group">
                <input style="width: 50%" type="password" class="form-control center" placeholder="Senha" data-bind="value: password">
            </div>

            <span id="error" class="error" style="color: red;" data-bind="text: errorMsg"></span>

            <br />
            <br />

            <div class="center">
                <button style="width: 50%" type="button" class="btn btn-success" data-bind="click: authenticateUser">
                    <span class="glyphicon glyphicon glyphicon-floppy-disk" aria-hidden="true"><b>Entrar</b></span>
                </button>
            </div>
            <br />

        </form>

        <br />

        <!-- Registrar -->
        <div id="formFooter">
            <a class="underlineHover" href="home/register">Criar uma conta?</a>
        </div>

    </div>
</div>

<script type="text/javascript">

    function ViewModel() {
        try {

            var self = this;

            self.cpf = ko.observable("");
            self.password = ko.observable("");
            self.errorMsg = ko.observable("");

            self.authenticateUser = () => {
                $.ajax({
                    type: "GET",
                    url: '/Users/AuthenticateUser',
                    data: {
                        cpf: self.cpf(),
                        password: self.password()
                    },
                    success: function (response) {
                        setCookie('UserCPF', self.cpf());
                        setCookie('UserToken', response);
                        window.location.href = '/Products/ListProducts';
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        self.errorMsg(JSON.parse(xhr.responseText));
                    }
                });
            }
        } catch (e) {
            console.log(e);
        }
    }

    var vm = new ViewModel();

    // ativa knockout.js
    ko.applyBindings(vm);

</script>
