<style>

    .error {
        color: red;
    }

    label {
        font-weight: bold
    }

    input,
    button {
        border: 0;
        margin-bottom: 3px;
        display: block;
        width: 100%;
    }

    .common_box_body {
        padding: 15px;
        border: 12px solid #3ca85c;
        border-color: #28BAA2;
        border-radius: 15px;
        margin-top: 10px;
        background: #f2fff6;
    }

    .container {
        margin-right: 10%;
        width: 100%
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div>
    <a href="javascript:history.back()">
        <img src="~/assets/images/seta-voltar.svg" alt="Voltar para o Login"> Login
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="common_box_body panel-body">
                    <div class="center">
                        <h1 style="font-weight: bold">Cadastro de Usuário</h1>
                    </div>
                    <form action="#" name="registration" id="registration">

                        <div class="form-group">
                            <label for="name">Nome Completo</label>
                            <p data-bind="css: { error: name.hasError }">
                                <input type="text" id="name" name="name" class="form-control" data-bind='value: name, valueUpdate: "afterkeydown"' />
                                <span data-bind='visible: name.hasError, text: name.validationMessage'> </span>
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" name="cpf" class="form-control" data-bind='value: cpf' maxlength="14" onkeydown="javascript: fMasc( this, mCPF );" onchange="validCpf()">
                            <span id="cpfError" class="error" style="display: none;">O CPF informado é invalido</span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control" data-bind="value:email" />
                        </div>

                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" id="password" name="password" class="form-control" data-bind="value:password" />
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">Confirmar Senha</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" data-bind="value:confirmPassword" />
                        </div>

                        <div class="center">
                            <button style="width: 50%" type="button" class="btn btn-success" data-bind="click:createUser, enable:isValiForm()">
                                <span class="glyphicon glyphicon glyphicon-floppy-disk" aria-hidden="true"><b>Cadastrar</b></span>
                            </button>
                        </div>

                        <div class="alert alert-success" role="alert" style="display:none; margin-top: 10px;"> <span class="glyphicon  glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Form has submitted with successful </div>
                        <div class="alert alert-danger" role="alert" style="display:none; margin-top: 10px;"> <span class="glyphicon  glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Please check your submission </div>
                    </form> <!-- END FORM-->
                </div> <!-- END BODY-->
            </div> <!-- END PANEL-->
        </div> <!-- END COL-MD-8-->
    </div> <!-- END ROW-->
</div> <!-- END CONTAINER-->

<script type="text/javascript">

    $(document).ready(function () {
        $("#registration").validate({
            // Specify validation rules
            rules: {
                name: { required: true, minlength: 3 },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5,
                },
                confirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                }
            },
            messages: {
                name: {
                    required: "Por favor informe seu nome",
                    minlength: "Por favor informe pelo menos 3 caracteres"
                },
                email: {
                    required: "Por favor informe seu email",
                    email: "Email invalido",
                },
                password: {
                    required: "Informe uma senha",
                    minlength: "Senha muito fraca, informe 6 ou mais caracteres"
                },
                confirmPassword: {
                    required: "Confirme a senha",
                    minlength: "Senha muito fraca, informe 6 ou mais caracteres",
                    equalTo: "Senha diferente, favor informe a mesma senha"
                }
            },
        });
    });

    function validCpf() {
        var strCPF = $("#cpf").val();
        var isErro = isValidCpf(strCPF);
        if (isErro) {
            $("#cpfError").css("display", "none");
        } else {
            $("#cpfError").css("display", "block");
        }
    }

    function isValidCpf(strCPF) {
        var cpf = strCPF;
        cpf = cpf.replace(/\D/g, '');
        if (cpf.toString().length != 11 || /^(\d)\1{10}$/.test(cpf)) return false;
        var result = true;
        [9, 10].forEach(function (j) {
            var soma = 0, r;
            cpf.split(/(?=)/).splice(0, j).forEach(function (e, i) {
                soma += parseInt(e) * ((j + 2) - (i + 1));
            });
            r = soma % 11;
            r = (r < 2) ? 0 : 11 - r;
            if (r != cpf.substring(j, j + 1)) result = false;
        });
        return result;
    }

    function ViewModel() {
        try {

            var self = this;

            self.name = ko.observable("");
            self.email = ko.observable("");
            self.cpf = ko.observable("");
            self.password = ko.observable("");
            self.confirmPassword = ko.observable("");

            self.isValiForm = ko.computed(() => {
                return self.name() &&
                    self.email() &&
                    self.cpf &&
                    self.password &&
                    self.confirmPassword() &&
                    $('.form-control.error').length == 0 &&
                    isValidCpf(self.cpf());
            });

            self.createUser = () => {
                $.ajax({
                    type: "POST",
                    url: '/Users/RegisterUser',
                    data: {
                        name: self.name(),
                        email: self.email(),
                        cpf: self.cpf(),
                        password: self.password()
                    },
                    success: function (response) {
                        console.log(response);
                        window.location.href = '/Home/login';
                    },
                    error: function (response) {
                        console.log('Erro' + response);
                    }
                });
            }

        } catch (e) {
            console.log(e);
        }
    }

    var vm = new ViewModel();

    // ativa knockout.js
    ko.applyBindings(vm);

</script>