<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TARSGabrielMoraraRibeiro</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/knockout/knockout-latest.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body style="height: auto !important">
    <header style="background-color: #3ca85c">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background: #3ca85c">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

    </header>
    <div class="sk-spinner sk-spinner-chasing-dots">
        <div class="sk-dot1" style="color:white; background-color:#2d3561;"></div>
        <div class="sk-dot2" style="color:white; background-color:#2d3561;"></div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background: #3ca85c">
        <div class="text-center font-bold">
            <p style="color: white">
                &copy; 2021 - TARSGabrielMoraraRibeiro<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
            </p>
        </div>
    </footer>


    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mask.js"></script>
    <script src="~/js/cookie.manager.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Handler for ajax calls -->
    <script type="text/javascript">
        $(document)
            .ajaxStart(function () {
                $(document.body).toggleClass('sk-loading');
                $(document.body).find('sk-spinner').show();
            })
            .ajaxStop(function () {
                $(document.body).removeClass('sk-loading');
                $(document.body).find('sk-spinner').hide();
            })
            .ajaxError(function () {
                $(document.body).removeClass('sk-loading');
                $(document.body).find('sk-spinner').hide();
            });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
